.top {
	margin: 0px;
	padding:0px;
	top: 0px;
	left: 0px;
	right: 0px;
	width: auto;
	height: 140px;
}

.banner {
	margin: 0;
	padding: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 517px;
	/*height: 120px;*/
	float:left;
}

.ucpbox {
	padding: 4px;
	margin: 0px;
	width: 273px;
	height: 130px;
	background-color:#22E04B;
	float:left;
	border: 1px solid #434343;
}
