/*
general tags.
*/

body {    
	margin: 0;
	padding: 0;
	background-color:#88FF88;
}

h1 {
	font-size: 24px;
	text-align:center;
}

h2 {
	font-size: 20px;
}

/***********************
Specific classes
*********************/
/*
For creating posts, see createpost.php
*/
.createpost {
	background-color:#009900;
	border:1px solid;
}

/*
Listing categories, see viewCategories.php
*/
category {
	font-size: 16px;
	font-family: verdana;
}

/*
Main title, see viewCategories.php.
*/
#title {
	padding:0px;
	margin:0px;
	width: 100%;
	height: 262px;
	/*background-color: green;*/
}

.titlebanner {
	margin-left:auto;
	margin-right:auto;
	height:261px;
	width:600px;
}

/* TODO */


.thread {
	padding:0px;
	border-width:2px;
	border-bottom-width:1px;
	border-color:#888888;
	border-style:solid;
	background-color:white;
	margin:auto;
	width:85%;
	height:40px;
}

.everyother {
	background-color:#E6E6E6;
}

.threadtext {
	display:inline-block;
	vertical-align:middle;
	position:relative;
	top:-7px;
	padding-left:5px;
	height:35px;
	overflow:hidden
}


.centerpanel {
	width: 800px;
	height: auto;
	background-color: #00dd00;
	margin: auto;
	vertical-align:middle;
}


