.col1 {
	width:10%;
}

.col2 {
	width:40%;
}

.col3 {
	width:20%;
}

.col4 {
	width:8%;
}

.col5 {
	width:22%;
}

.controlbtn {
	font-size:10px;
	width:33%;
	height:20px;
	padding:1px;
}

.smallborder {
	border:1px solid black;
}

#table {
	width:100%;
	border:1px solid black;
}




